@import "tailwindcss";
@import "flowbite";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
*
{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bg-hero {
  background-image: url('../wer.webp');
  background-size: cover;
  background-position: center;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}

h1{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 color: rgb(231, 231, 231); 
 line-height: 2cm;
}
h2{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 color: rgb(226, 226, 226); 
 line-height: 1.5cm;  

}
.outer
{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
}
.slogan
{
  font: 22px ;
  font-family: 'playfair display';
  color: #ff6637;
  font-weight: 600;
  font-style: italic;

}
.title
{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Poppins';
 color: #1f1c1c; 
 line-height: 1.5em;  

}
.description
{
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Poppins';
 color: rgb(36, 34, 34); 
 line-height: 25px;
 text-align: justify;

}
primarycolor
{
  color: #ff6637;
}
.headertwo
{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins';
  color: #ff6637;

 line-height: 1.5em;

}
.headertwo:hover
{
  color: #1f1c1c;
  cursor: pointer;
}

.buttonstyle
{
  background-color: #ff6637;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins';
  border: none;
  cursor: pointer;
}
.heroheading
{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Poppins';
 color: rgb(231, 231, 231); 
 line-height: 2cm;
}
.herosubheading
{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins';
 color: rgb(231, 231, 231);
  line-height: 1.5cm;
}

.secondhero
{
  background-image: url('../banner2.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  object-fit: cover;
}