@import "tailwindcss";
.bg-hero {
  background-image: url('../herobanner.jpg');
  background-size: cover;
  background-position: center;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}

h1{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 color: rgb(231, 231, 231); 
 line-height: 2cm;
}
h2{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 color: rgb(226, 226, 226); 
 line-height: 1.5cm;  

}